<%- include('../partials/header') %> 
<section id="show-page">
    <div>Airport: </div>
    <div>
      <%= flight.airport %>
    </div>
    <div>Airline: </div>
    <div>
      <%= flight.airline %>
    </div>
    <div>FlightNo: </div>
    <div>
      <%= flight.flightNo %>
    </div>
    <div>Departs: </div>
    <div>
      <%= flight.departs %></div>
  <div>Arrival: </div>
  <div><%= flight.arrival %>
    </div>
  </section>
<%- include('../partials/footer') %> 