<%- include('../partials/header') %>
  <h2>Flight Details</h2>
  <section id="show-page">
    <div>Airport: </div>
    <div>
      <%= flight.airport %>
    </div><br>
    <div>Airline: </div>
    <div>
      <%= flight.airline %>
    </div><br>
    <div>FlightNo: </div>
    <div>
      <%= flight.flightNo %>
    </div><br>
    <div>Departs: </div>
    <div>
      <%= flight.departs %>
    </div>
    </div><br>
  </section>
  <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Arrival:</label>
    <input type="datetime-local" name="arrival">
    </label>
    <label>Airport:</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <input type="submit" value="Add Destination">
  </form>
  <br>
  <h3>Destinations</h3>
  <% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(f) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td>
              <%= f.airport %>
            </td>
            <td>
              <%= f.arrival %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No More Destinations Added</h5>
      <% } %>
<a href="/flights/<%= flight._id %>/tickets/">New Ticket</a>
<h3>Tickets</h3>
  <% if (flight.tickets) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(t) { %>
          <tr>
            <!-- .toLocaleDateString() provides a more friendly date format -->
            <td>
              <%= t.seat %>
            </td>
            <td>
              <%= t.price %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No More Tickets Added</h5>
      <% } %>
<%- include('../partials/footer') %>